In [9]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

import warnings
warnings.filterwarnings('ignore')

import matplotlib.dates as mdates
from mplfinance.original_flavor import candlestick_ohlc

In [10]:
#pip install --upgrade mplfinance

In [40]:
df_adj_close = pd.read_csv(r'../data/adj_close.csv')
df_close = pd.read_csv(r'../data/close.csv')
df_high = pd.read_csv(r'../data/high.csv')
df_low = pd.read_csv(r'../data/low.csv')
df_open = pd.read_csv(r'../data/open.csv')
df_volume = pd.read_csv(r'../data/volume.csv')

data =[df_adj_close,df_close, df_high, df_low, df_open,df_volume]

In [42]:
df_adj_close.columns

Index(['Date', 'ADA-USD', 'ATOM-USD', 'AVAX-USD', 'AXS-USD', 'BTC-USD',
       'ETH-USD', 'LINK-USD', 'LUNA1-USD', 'MATIC-USD', 'SOL-USD'],
      dtype='object')

In [71]:
df = pd.melt(df_adj_close, id_vars=['Date'], value_vars=['ADA-USD', 'ATOM-USD', 'AVAX-USD', 'AXS-USD', 'BTC-USD',
       'ETH-USD', 'LINK-USD', 'LUNA1-USD', 'MATIC-USD', 'SOL-USD'], var_name="Cryptocurrency", 
                value_name="Value")

df.rename(columns={"Value" : "adj_close" },inplace = True)

In [69]:
df

             Date Cryptocurrency       Value
0      2017-04-26        ADA-USD         NaN
1      2017-04-27        ADA-USD         NaN
2      2017-04-28        ADA-USD         NaN
3      2017-04-29        ADA-USD         NaN
4      2017-04-30        ADA-USD         NaN
...           ...            ...         ...
18255  2022-04-21        SOL-USD  101.776138
18256  2022-04-22        SOL-USD  100.612053
18257  2022-04-23        SOL-USD  100.744438
18258  2022-04-24        SOL-USD   99.235794
18259  2022-04-25        SOL-USD  101.247635

[18260 rows x 3 columns]

In [65]:
columns = ['close', 'high', 'low', 'open', 'volume']

In [72]:


for i in data:
    for v in columns: 
        new = pd.melt(i, id_vars=['Date'], var_name="Cryptocurrency", 
                    value_name='Value') 
        new.rename(columns={"Value" : v},inplace = True)

            #else:
            # sheet = pd.read_excel(file,i)
                #sheet.drop(['Unnamed: 0'],axis = 1,inplace=True)
                #sheet = sheet.melt(id_vars=sheet.columns[0],var_name="Year", 
                #   value_name="Value")
                #sheet.rename(columns={sheet.columns[0]: 'Country',"Value" : sheet.columns[0]},inplace = True)
        df = df.merge(new,on = 'Cryptocurrency' ,how="outer")
        #else:
            #continue

KeyboardInterrupt:

,Date,ADA-USD,ATOM-USD,AVAX-USD,AXS-USD,BTC-USD,ETH-USD,LINK-USD,LUNA1-USD,MATIC-USD,SOL-USD
0,2017-04-26,NaN,NaN,NaN,NaN,1.281080e+03,NaN,NaN,NaN,NaN,NaN
1,2017-04-27,NaN,NaN,NaN,NaN,1.317730e+03,NaN,NaN,NaN,NaN,NaN
2,2017-04-28,NaN,NaN,NaN,NaN,1.316480e+03,NaN,NaN,NaN,NaN,NaN
3,2017-04-29,NaN,NaN,NaN,NaN,1.321790e+03,NaN,NaN,NaN,NaN,NaN
4,2017-04-30,NaN,NaN,NaN,NaN,1.347890e+03,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1821,2022-04-21,8.711113e+08,441027946.0,569385150.0,315254265.0,3.537279e+10,2.078359e+10,503314643.0,2.322037e+09,6.526199e+08,1.838572e+09
1822,2022-04-22,7.257889e+08,404175037.0,532238762.0,293223333.0,2.801172e+10,1.678280e+10,464995123.0,2.542109e+09,1.281223e+09,1.274794e+09
1823,2022-04-23,4.479977e+08,262237459.0,360787956.0,185825882.0,1.613802e+10,9.116956e+09,322384215.0,1.251243e+09,5.494467e+08,8.232525e+08
1824,2022-04-24,4.876295e+08,296530518.0,320340266.0,171259555.0,1.796440e+10,9.696830e+09,299368814.0,1.256729e+09,4.209603e+08,8.182660e+08
1825,2022-04-25,1.139869e+09,515036727.0,735322462.0,342114485.0,3.544573e+10,2.233269e+10,506454272.0,2.826796e+09,7.130073e+08,1.538487e+09